# Build output
dist/
build/
*.spec

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test files
test_*.py

# Config (user data)
config/
